.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
body{ background-color: rgb(245, 248, 255);;
}

/*reusable style start*/

.text-primary {
    color: #4E47FF;
}
.text-secondary{
    color: #252432;
}

.text-center{
    text-align: center;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;

}
.text-2 {
    color: #474747;
}

/* reusable style end */

/* nav style start */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav h3 {
    font-weight: 800;
    font-size: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* nav style end */
.banner{
    margin: auto;
    padding-top: 20px;
    align-items: center;
    max-width: 955px;
}
.banner-text{

    font-size: 45px;

}
.nav-btn{
    margin-top: 25px;
    margin-bottom: 100px;
}

.header{
    background-image: url(Assets/Hero-bg.png);
}

/* main section */
.action{
  display: flex;
  justify-content:space-between;
  margin: 50px 190px 50px 190px;
  /* padding: 0px 50px 0px 50px; */
  gap: 30px;
  align-items: center;
}

.action img{
    border-radius: 30px;
}

.text-1{
    font-size: 40px;
    font-weight: 700;
}

/* user section */
.user-number{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    gap: 100px ;
}

.user-number h1{
    color: #4E47FF;
    font-size: 60px;
    font-weight: bold;
    margin: auto;   
}

.user h3{
    font-size: 38px;
    font-weight: bold;
}

.user{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 50px 190px 50px 190px;
    padding: 20px 5px 20px 5px;
    border-radius: 20px;

}

/* review section */
.review h3{
        font-size: 38px;
        font-weight: bold;
}

.review-profile{
    display: flex;
    gap: 15px;
}
.review-profile img{
    border-radius: 50%;
}
.review-card{
    display: flex;
    justify-content: space-around;
    margin: 50px 190px 50px 190px;
}
 
.review-star{
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 1px  rgba(219, 217, 217, 0.918), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* focus section */

.focus{
    display: block;
    align-items: center;
    justify-items: center;
}

.focus-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.focus-img{
    max-width: 650px;
    border-radius: 15px;

}
.focus-img-bg{
    display: flex;
    margin: 20px 0 20px  0 ;
    justify-content: center;
}

.focus-section-bg{
    background-color: white;
    padding: 20px 0 20px 0;
    margin: 0 150px 0 150px;
}

.focus-h2{
    font: bold ;
    font-size: 38px;
}

/* form section */
.form{
        padding: 130px 230px;
        display: flex;
        gap: 100px;
    }

.form-column {
    width: 50%;
}

form input[type="name"],
form input[type="email"] {
    height: 64px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #474747;
    padding: 10px 20px;
    margin-bottom: 24px;
    margin-top: 10px;
    display: block;
}

form textarea{
        width: 100%;
            border-radius: 10px;
            border: none;
            background-color: white;
            color: #474747;
            padding: 10px 20px;
            margin-bottom: 24px;
            margin-top: 10px;
            display: block;
}

form label{
    font-size: 20px;
    font-weight: bold;
}

.form-heading{
    font-size: 97px;
    font-weight: 600;
}



/* footer section */

footer ul li {
    list-style: none;
    
}

footer li a {
    text-decoration: none;
}

footer a {
    color: #474747;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

footer h1 {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    text-align: center;
}

footer p{
    text-align: center;
    color: #474747;
}

footer{
     background-color: white;
     padding: 20px 0 10px 0;
}

