.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/*reusable style start*/

.text-primary {
    color: #4E47FF;
}
.text-secondary{
    color: #252432;
}

.text-center{
    text-align: center;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
    border: none;

}
.text-2 {
    color: #474747;
}

/* reusable style end */

/* nav style start */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav h3 {
    font-weight: 800;
    font-size: 40px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* nav style end */
.banner{
    margin: auto;
    padding-top: 20px;
    align-items: center;
    max-width: 955px;
}
.banner-text{

    font-size: 45px;

}
.nav-btn{
    margin-top: 25px;
    margin-bottom: 100px;
}

.header{
    background-image: url(Assets/Hero-bg.png);
}

/* main section */
.action{
  display: flex;
  justify-content:space-between;
  margin: 50px 150px 50px 150px;
  gap: 30px;
  align-items: center;
}

.action img{
    border-radius: 30px;
}

.text-1{
    font-size: 40px;
    font-weight: 700;
}